{% extends "layout.html" %}

{% block body %}

<div class="heading-index">
    <h1>Books Availability</h1>
</div>

<div class="add-form">
    <div class="inside-form">
        <label><b>Book ID Search</b></label>
        <table>
            <tr>
                <td><input autocomplete="off" type="text" id='bookid' placeholder="Enter book ID" name="bid"></td>
                <td><button type="button" class="search-book book-avail">Search</button></td>
            </tr>
        </table>

        <br>
        <label><b>Book Name Search</b></label>
        <table>
            <tr>
                <td><input autocomplete="off" type="text" id="bkname" placeholder="Enter book name" name="bname"></td>
                <td><input type="button" class="search-book book-avail-name" value="Search"></td>
            </tr>
        </table>

        <div id="showinfo" style="display:none">

        </div>

    </div>
</div>

{% endblock %}