{% extends "layoutCustomer.html" %}

{% block body %}

<div class="heading-index">
    <h1>Borrow Book</h1>
</div>

<div class="add-form">
    <div class="inside-form">
    <form method="post" action="/grades-success">
        <label><b>Customer ID Search</b></label>
        <input autocomplete="off" autofocus type="text" placeholder="Enter Customer ID" name="custid" required>

        <div>
            <button class="buttons-bottom" type="submit" name="cust-ch" value="cust-ch">SEARCH</button>
            <button class="buttons-bottom" type="reset">RESET</button>
        </div>
    </form>
    </div>
</div>
<!-- if quantity available and customer exists -->
<div class="add-form">
    <div class="inside-form">
        <form method="post" action="/borrow-success">
            <label><b>Customer Name</b></label>
            <input autocomplete="off" type="text" placeholder="Enter Customer Name" name="custname" readonly>
        </form>
    </div>

</div>

{% endblock %}