{% extends "layout.html" %}

{% block body %}

<div class="heading-index">
    <h1>Borrow Books</h1>
</div>

<div class="add-form">
    <div class="inside-form">
    <form method="post" action="/book-success">
        <label><b>Book ID Search</b></label>
        <input autocomplete="off" type="text" placeholder="Enter book ID" name="bid">

        <div>
            <button class="buttons-bottom" type="submit" name="book-id-ch" value="book-id-ch">SEARCH</button>
        </div>
        <br>
        <label><b>Book Name Search</b></label>
        <input autocomplete="off" type="text" placeholder="Enter book name" name="bname">

        <div>
            <button class="buttons-bottom" type="submit" name="book-name-ch" value="book-name-ch">SEARCH</button>
        </div>
    </form>
    </div>
</div>

{% endblock %}