{% extends "layoutCustomer.html" %}

{% block body %}

<div class="heading-index">
    <h1>Customer Actions</h1>
</div>

<div class="add-form">
    <table class="responsive-table">
        <thead>
            <tr>
                <th class="short">Customer ID</th>
                <th>Customer Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Books Borrowed</th>
                <th class="short">Update</th>
                <th class="short">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for data in custdata %}
            <tr>
                <td>{{ data[0] }}</td>
                <td>{{ data[1] }}</td>
                <td>{{ data[2] }}</td>
                <td>{{ data[3] }}</td>
                <td>{{ data[4] }}</td>
                <td>{{ data[5] }}</td>
                <td><a href="update-pg/{{ data[0] }}" class="func-btn">UPDATE</a></td>
                <td><button data-dattr-id = {{ data[0] }} type="button" class="delete-book func-btn">DELETE</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}