{% extends "layout.html" %}

{% block body %}

<div class="heading-index">
    <h1>Export File</h1>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</div>

<div class="add-form">
    <div class="inside-form">
        <div>
            <h3>Download Books Data</h3>
            <a href="/export-books" class="func-btn">EXPORT BOOKS DATA</a>
        </div>
        <div>
            <h3>Download Registered Customers Data</h3>
            <a href="/export-cust" class="func-btn">EXPORT CUSTOMERS DATA</a>
        </div>
        <div>
            <h3>Download Borrowed Books Data</h3>
            <a href="/export-borrow" class="func-btn">EXPORT BORROW DATA</a>
        </div>
    </div>
</div>

{% endblock %}