{% extends "layout.html" %}

{% block body %}

<div class="heading-index">
    <h1>PDF Generator</h1>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</div>

<div class="add-form">
    <div class="inside-form">
        <div>
            <h3>PDF For Books Data</h3>
            <a href="/gen-pdf-bk" class="func-btn">GENERATE BOOKS DATA</a>
        </div>
        <div>
            <h3>PDF For Registered Customers Data</h3>
            <a href="/gen-pdf-cust" class="func-btn">GENERATE CUSTOMERS DATA</a>
        </div>
    </div>
</div>

{% endblock %}